---
import { GITHUB_URL } from "@/consts";
import { exec } from "child_process";
import { promisify } from "util";

const execAsync = promisify(exec);
const [shortHash, longHash] = (
  await Promise.all([
    execAsync("git rev-parse --short HEAD"),
    execAsync("git rev-parse HEAD"),
  ])
).map(({ stdout }) => stdout.trim());

import { version } from "@/../package.json";
---

<footer class="dark:text-zinc-400 pt-8 px-4 pb-24 text-center">
  <p>
    <a href={GITHUB_URL} target="_blank">Handbook</a> v{version}
    <a href={`${GITHUB_URL}/commit/${longHash}`} target="_blank"
      >({shortHash})</a
    >
  </p>
</footer>
