---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Sidebar from "@components/Sidebar.astro";
import TableOfContents from "@components/TableOfContents.astro";
import type { MarkdownHeading } from "astro";

type Props = Pick<CollectionEntry<"handbook">["data"], "title" | "description"> & {
  headings: MarkdownHeading[];
};

const { title, description, headings } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="dark:bg-zinc-800 dark:text-zinc-200">
    <Header currentPage={currentPage} />
    <div class="grid grid-cols-12 pt-12">
      <div class="col-span-3 sticky top-0 h-screen flex">
        <div class="ml-auto h-full">
          <Sidebar currentPage={currentPage} />
        </div>
      </div>
      <div class="col-span-1"></div>
      <main class="py-4 px-8 pb-32 col-span-6 overflow-auto">
        <slot />
      </main>
      {
        headings && headings.length > 0 && (
          <div class="col-span-3 sticky top-0 h-screen flex">
            <nav aria-labelledby="grid-right">
              <div class="px-8">
                <TableOfContents headings={headings} />
              </div>
            </nav>
          </div>
        )
      }
    </div>
    <Footer />
  </body>
</html>
